{% extends 'base_.html' %}
{% load static %}

{% block content %}

<div class="container p-5 mx-auto sm:p-4 dark:text-gray-800 overflow-x-auto">
        <div class="overflow-x-auto">
                <table class="min-w-full text-xs">
                        <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col class="w-24">
                        </colgroup>
                        <thead class="dark:bg-gray-300">
                                <tr class="text-left">
                                        <th class="p-3">Date de transaction</th>
                                        <th class="p-3">Date d'application</th>
                                        <th class="p-3 text-right">Montant</th>
                                        <th class="p-3 text-right">Type</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for transaction in transactions %}
                                <tr class="border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-50">

                                        <td class="p-3">
                                                <p>{{ transaction.transaction_date }}</p>
                                        </td>
                                        <td class="p-3">
                                                <p>{{ transaction.created_at|date:"Y-m-d" }}</p>
                                        </td>
                                        <td class="p-3 text-right">
                                                <p>{{ transaction.amount }}</p>
                                        </td>
                                        <td class="p-3 text-right">
                                                {% if transaction.transaction_type == 'deposit' %}

                                                <span
                                                        class="px-3 py-1 font-semibold rounded-md dark:bg-violet-600 dark:text-gray-50">
                                                        <span>Dépot</span>
                                                </span>

                                                {% else %}

                                                <span
                                                        class="px-3 py-1 font-semibold rounded-md dark:bg-red-600 dark:text-gray-50">
                                                        {% if transaction.status == 'pending' %}

                                                        <span>{{ transaction.status }}</span>

                                                        {% elif transaction.status == 'canceled' %}
                                                        <span>Annuler</span>

                                                        {% else %}

                                                        <span>Retrait</span>

                                                        {% endif %}


                                                </span>

                                                {% endif %}

                                        </td>
                                </tr>
                                {% endfor %}

                        </tbody>
                </table>
        </div>
        {% if transactions.has_other_pages %}
        <ul class="flex items-center justify-center space-x-2 mt-6">
            <!-- Lien vers la page précédente -->
            {% if transactions.has_previous %}
            <li>
                <a href="?page={{ transactions.previous_page_number }}"
                    class="px-3 py-2 text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">&laquo;</a>
            </li>
            {% else %}
            <li>
                <span class="px-3 py-2 text-gray-400 bg-gray-100 border border-gray-300 rounded-lg">&laquo;</span>
            </li>
            {% endif %}
    
            <!-- Pages numérotées -->
            {% for i in transactions.paginator.page_range %}
            {% if transactions.number == i %}
            <li>
                <span class="px-3 py-2 text-white bg-blue-600 border border-blue-600 rounded-lg">{{ i }} <span
                        class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li>
                <a href="?page={{ i }}"
                    class="px-3 py-2 text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
    
            <!-- Lien vers la page suivante -->
            {% if transactions.has_next %}
            <li>
                <a href="?page={{ transactions.next_page_number }}"
                    class="px-3 py-2 text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">&raquo;</a>
            </li>
            {% else %}
            <li>
                <span class="px-3 py-2 text-gray-400 bg-gray-100 border border-gray-300 rounded-lg">&raquo;</span>
            </li>
            {% endif %}
        </ul>
        {% endif %}
</div>
{% endblock content %}