{% extends 'base_.html' %}

{% block content %}

<div class=" p-6 bg-gray-100 flex items-center justify-center overflow-auto">
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <h2 class="font-semibold text-xl text-gray-600 mb-6">Ajouter un Compte au client</h2>

            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Information du client</p>
                    </div>

                    <div class="lg:col-span-2">
                        {% if messages %}
                        <div class="alert" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">

                                <div class="md:col-span-5 flex flex-col md:flex-row ">
                                    <div class="md:mr-2 w-full">
                                        <label for="full_name">Prénom</label>
                                        <p class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 flex items-center">
                                            {{user.first_name}}
                                        </p>
                                    </div>
                                    <div class="">
                                        <label for="full_name">Nom</label>
                                        <p class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 flex items-center">
                                            {{user.last_name}}

                                        </p>
                                    </div>
                                </div>

                                <div class="w-full">
                                    <label for="full_name">Modalité</label>
                                    <input type="number" name="payment" id="payment" min="100" step="100" required
                                        class="h-10 border mt-1 rounded w-full bg-gray-50" value="" />
                                </div>
                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        <button
                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}