{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 overflow-auto mt-10">
    {% for account in accounts %}
    <a class=" mx-2 md:mx-8 my-3 md:my-10" href="{% url 'user_account_detail' account.pk  %}">
        <div class="bg-white shadow-lg rounded-lg p-6 space-y-4">
            <div class="flex items-center justify-between">
                <div class="p-2 bg-purple-200 rounded-full">

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-purple-600" width="16" height="16"
                        fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                        <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                        <path
                            d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                    </svg>
                </div>
                <div>
                    <div class="text-gray-600 text-sm">Soldes</div>
                    <div class="text-gray-900 text-2xl font-semibold">
                        {{ account.balance }}
                    </div>
                </div>
            </div>


            <h1 href=""
                class="w-full text-center text-purple-600 bg-purple-100 hover:bg-purple-200 text-sm py-2 px-4 rounded-md transition duration-300 ease-in-out">
                {{ account.payment }}
            </h1>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}